.featured {
  background-color: #E6E6E6;
  padding-bottom: 15px;
  .featured-title {
    line-height: 90px;
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
    a {
      color: #000;
      text-transform: lowercase;
    }
  }
  .featured-article {
    background-color: #F2F2F2;
    width: 570px;
    height: 225px;
    &:nth-child(2) {
      margin-left: 30px;
    }
    p {
      width: calc(100% - 220px);
      font-size: 20px;
      margin-left: 50px;
      vertical-align: top;
    }
    h2 {
      line-height: 50px;
      color: #3D58A6;
      margin-left: 30px;
      font-size: 22px;
    }
    img {
      margin: 12px 0 0 40px;
    }
    a {
      margin-left: 450px;
    }
  }
  .read-more {
    a {
      margin-right: 10px;
      color: #3D58A6;
      font-size: 14px;
    }
  }
}
