/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)''
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular.eot") format("embedded-opentype"), url("../fonts/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular.svg#RobotoRegular") format("svg"); }

.display-inline-block {
  display: inline-block; }

.vertical-middle {
  vertical-align: middle; }

.vertical-bottom {
  vertical-align: bottom; }

.vertical-top {
  vertical-align: top; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.container-article {
  max-width: 1200px;
  margin: 0 auto; }

.float-left {
  float: left; }

.d-flex {
  display: flex; }

.header-wrapper {
  justify-content: space-between;
  align-items: center; }

.video-wrapper {
  justify-content: space-between; }

.article-wrapper {
  justify-content: space-between; }

.float-right {
  float: right; }

.clear {
  clear: both; }

.clearfix::after {
  content: " ";
  clear: both;
  display: block; }

.clearfix::before {
  display: block;
  width: 200px;
  height: 200px;
  background: red; }

body {
  font-family: "RobotoRegular"; }

.border-line {
  border-right-width: 1px;
  border-right-color: #3D58A6;
  border-right-style: solid; }

/* header */
.header {
  padding: 30px 0; }
  .header .burger {
    width: 40px;
    height: 40px;
    border: 3px solid #363E97;
    margin-left: 15px;
    display: none;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .header .burger .arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0);
      width: 30px;
      height: 3px;
      background-color: #363E97;
      transition: all .3s linear; }
      .header .burger .arrow:nth-child(1) {
        top: 30%; }
      .header .burger .arrow:nth-child(3) {
        top: 70%; }
    .header .burger.active .arrow :nth-child(1) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg); }
    .header .burger.active .arrow :nth-child(2) {
      left: -150%; }
    .header .burger.active .arrow :nth-child(3) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg); }
  .header .logo {
    width: 100px; }
  .header .socials li {
    padding: 0 15px; }
  .header nav ul li {
    padding: 0 15px;
    font-size: 24px;
    vertical-align: middle;
    text-transform: uppercase; }
    .header nav ul li a {
      color: #3D58A6; }

.banner .banner-text {
  margin: -150px 0 0 30px;
  color: #E6E6E6;
  font-size: 30px; }

.banner img {
  width: 100%; }

.banner img:nth-child(3) {
  position: relative;
  left: 1050px;
  right: 10px;
  top: -30px;
  margin-bottom: 30px;
  width: 98px; }

.video-section {
  background-color: #363E97;
  padding-bottom: 90px; }
  .video-section .video-title {
    line-height: 90px;
    color: #FFFFFF;
    font-size: 24px;
    text-transform: uppercase; }
    .video-section .video-title a {
      text-transform: lowercase;
      color: #FFFFFF; }
  .video-section .video {
    width: 570px;
    height: 320px;
    background-color: #fff; }
    .video-section .video iframe {
      width: 100%;
      height: 100%; }

audio, video {
  width: 100%; }

.article-section {
  background-color: #BDCCD4;
  padding-bottom: 90px; }
  .article-section .article-title {
    line-height: 90px;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase; }
    .article-section .article-title a {
      color: #fff;
      text-transform: lowercase; }
  .article-section .article h2 {
    line-height: 60px;
    background-color: #E6E6E6;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    width: 100%; }
  .article-section .article img {
    display: block; }

.featured {
  background-color: #E6E6E6;
  padding-bottom: 15px; }
  .featured .featured-title {
    line-height: 90px;
    font-size: 24px;
    color: #000;
    text-transform: uppercase; }
    .featured .featured-title a {
      color: #000;
      text-transform: lowercase; }
  .featured .featured-article {
    background-color: #F2F2F2;
    width: 570px;
    height: 225px; }
    .featured .featured-article:nth-child(2) {
      margin-left: 30px; }
    .featured .featured-article p {
      width: calc(100% - 220px);
      font-size: 20px;
      margin-left: 50px;
      vertical-align: top; }
    .featured .featured-article h2 {
      line-height: 50px;
      color: #3D58A6;
      margin-left: 30px;
      font-size: 22px; }
    .featured .featured-article img {
      margin: 12px 0 0 40px; }
    .featured .featured-article a {
      margin-left: 450px; }
  .featured .read-more a {
    margin-right: 10px;
    color: #3D58A6;
    font-size: 14px; }

footer {
  line-height: 90px;
  font-size: 12px; }

.news, .news-second {
  background-color: #BDCCD4;
  line-height: 90px; }

.news a:nth-child(1) {
  color: #363E97;
  font-size: 22px; }

.news a:nth-child(2) {
  color: #fff;
  font-size: 22px; }

.news .news-span::after {
  content: url("../images/arrow.svg");
  width: 23px;
  height: 13px;
  display: inline-block;
  padding: 0 10px 0 10px; }

.news-second a:nth-child(1) {
  color: #fff;
  font-size: 22px; }

.typography {
  margin-top: 30px; }
  .typography h1 {
    font-size: 22px;
    text-transform: uppercase;
    color: #363E97;
    margin-bottom: 24px; }
  .typography span:nth-child(2) {
    display: block;
    margin: 28px 0 10px 10px;
    color: #363E97;
    text-transform: uppercase;
    font-size: 12px; }
  .typography span:nth-child(1) {
    border: 2px #BDCCD4 solid;
    font-size: 35px;
    color: #363E97;
    padding: 5px 10px 15px 10px; }
  .typography .typography-article img {
    margin: 0 10px 10px 0;
    float: left; }
  .typography .typography-article p {
    margin-bottom: 21px;
    font-size: 20px;
    color: #58595B; }

.about-stylistic {
  background-color: #EE4036;
  line-height: 90px;
  margin-bottom: 60px; }
  .about-stylistic a {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase; }

.about .about-img-container {
  border: 2px solid #EE4036;
  padding: 40px; }
  .about .about-img-container:hover {
    transform: scale(1.5);
    background-color: #fff; }

.about .about-img:nth-child(3), .about .about-img:nth-child(2) {
  margin-left: 120px; }

.about .about-img h1 {
  font-size: 22px;
  text-transform: uppercase;
  color: #EE4036;
  line-height: 40px; }

.about .about-img h2 {
  font-size: 20px; }

.team {
  margin: 91px 0 220px 0;
  border-top-width: 1px;
  border-top-color: #EE4036;
  border-top-style: solid; }
  .team h1 {
    line-height: 70px;
    text-transform: uppercase;
    font-size: 22px;
    color: #EE4036;
    margin-bottom: 20px; }
  .team .surname:nth-child(3), .team .surname:nth-child(4), .team .surname:nth-child(5) {
    margin-left: 116px; }
  .team .surname h2 {
    margin: -100px 0 0 35px;
    font-size: 20px; }

@media (max-width: 1024px) {
  .header nav {
    display: none; }
  .header .burger {
    display: flex; }
  .video-section {
    display: none; }
  .article-section .article:nth-child(4) {
    display: none; }
  .featured-flex {
    flex-direction: column; }
    .featured-flex .featured-article {
      width: 965px; }
      .featured-flex .featured-article:nth-child(2) {
        margin-top: 20px;
        margin-left: 0; }
      .featured-flex .featured-article a {
        margin-left: 800px; } }

@media (max-width: 1170px) {
  .container {
    padding: 0 15px; }
  .container-article {
    padding: 0 15px; }
  .featured-flex .featured-article a {
    margin-left: 400px; }
  .banner img:nth-child(3) {
    left: 700px; } }

@media (max-width: 1000px) {
  .featured-title {
    text-align: center; }
  .featured-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .featured-flex .featured-article {
      width: 419px;
      height: 427px; }
      .featured-flex .featured-article p {
        display: block;
        width: calc(100% - 100px);
        margin-top: 25px; }
      .featured-flex .featured-article:nth-child(2) {
        margin-top: 20px;
        margin-left: 0; }
      .featured-flex .featured-article a {
        margin-left: 300px; } }

@media (max-width: 870px) {
  .article-section h1 {
    text-align: center; }
  .article-flex {
    flex-direction: column;
    align-items: center; }
    .article-flex .article {
      margin-top: 10px; }
  .banner img:nth-child(3) {
    left: 500px; } }

@media (max-width: 670px) {
  .banner img:nth-child(3) {
    left: 300px; } }

@media (max-width: 480px) {
  .header .social-li:not(.search) {
    display: none; }
  .article-flex {
    flex-direction: column; }
  .banner img:nth-child(3) {
    left: 200px; } }
